/* Estilo general */
body {
  margin: 0;
  padding: 0;
  background-color: #E08282;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  height: 100vh;
}

/* Palabras aleatorias */
.hacking-text {
  position: absolute;
  font-size: clamp(1rem, 5vw, 3rem);
  font-family: monospace;
  color: white;
  pointer-events: none;
  opacity: 0.7;
  animation: fadeOutText 0.4s forwards;
}

@keyframes fadeOutText {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* Imágenes aleatorias */
.hacking-img {
  position: absolute;
  width: clamp(20px, 8vw, 60px);
  pointer-events: none;
  opacity: 0.7;
  animation: fadeOutText 0.4s forwards;
}

/* Contenedor de la carta */
.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #E08282;
}

.envelope-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.envelope {
  position: relative;
  display: block;
  width: 300px;
  height: 200px;
  margin: auto;
  background-color: #C9D0D2;
  transition: all 0.5s ease;
}

.envelope__card {
  position: absolute;
  bottom: 0;
  display: block;
  width: 250px;
  height: 200px;
  margin: 0 25px;
  background-color: #f5f6d6;
  transition: all 0.5s ease;
}

.envelope__card.open {
  animation: cardJump 0.5s ease 0.5s forwards;
  z-index: 1;
}

.enveloper__card-text {
  padding: 10px 20px;
  font-size: 42px;
  margin: 0;
  color: black;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

.envelope__side {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 2;
}

.envelope__side--left {
  left: 0;
  border-width: 100px 0 100px 150px;
  border-color: transparent transparent transparent #ffffff;
}

.envelope__side--right {
  right: 0;
  border-width: 100px 150px 100px 0;
  border-color: transparent #ffffff transparent transparent;
}

.envelope__side--bottom {
  top: auto;
  left: 0;
  bottom: 0;
  border-width: 0 150px 100px 150px;
  border-color: transparent transparent #ecf0f1 transparent;
}

.envelope__side--top {
  top: 0;
  left: 0;
  border-width: 100px 150px 0 150px;
  border-color: #ecf0f1 transparent transparent transparent;
  z-index: 1;
}

.envelope.open>.envelope__side--top {
  top: -100px;
  border-width: 0 150px 100px 150px;
  border-color: transparent transparent #C9D0D2 transparent;
}

.heart {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -25%;
  margin-left: -25px;
  width: 50px;
  fill: red;
  z-index: 2;
  transition: 0.2s;
}

.envelope:hover .heart {
  transform: scale(1.2);
  transition: 0.5s ease;
}

.envelope.open:hover .heart {
  transform: none;
}

.tossing {
  animation-name: tossing;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes tossing {
  0% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(4deg);
  }

  100% {
    transform: rotate(-4deg);
  }
}

@keyframes cardJump {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-200px);
  }
}
/* Carta secundaria */
.super-card {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  /* Tamaño ajustable */
  max-width: 400px;
  height: auto;
  background: linear-gradient(to right, #ff4e50, #f9c5c8);
  color: white;
  z-index: 10;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.super-card-content {
  background-color: rgba(0, 0, 0, 0.7);
  /* Fondo oscuro */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

.super-card p {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-top: 15px;
  font-style: italic;
}

.super-card h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f9a7ab;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}